bundles/
docs/
coverage/
lib/
lib-esm/
node_modules/
tests/**/site/fr-sdk-ui.js*
tests/**/site/index.js.map
tests/**/site/server.js
**/_static/js/*.js*
**/_static/css/*.css*
*.copy.*

.DS_Store
.vscode
