<main class="fr-step fr-choice">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Use device sign-in</h1>
      <i class="fr-icon fr-icon-web-authn"></i>
      <p>Use your device's security features to sign in.</p>
    </header>
    <section class="fr-form">
      <div class="fr-input-group">
        <button type="button" class="btn btn-primary" data-choice="0">
          Turn on device sign in
        </button>
      </div>
      <button type="button" class="btn btn-primary mt-3" data-choice="1">
        More ways to sign in
      </button>
    </section>
  </section>
</main>