<main class="fr-step fr-one-time-password-email">
  <section class="fr-main">
    <header class="fr-header">
      <h1>2-step verification</h1>
      <i class="fr-icon fr-icon-twofa-email"></i>
      <p>We've sent a code to your email</p>
    </header>
    <section class="fr-form">
      <div class="form-group mb-3">
        <div class="form-label-group form-floating input-group form-label-group-password">
            <input type="password" id="fr-password" class="form-control rounded-end input-password" placeholder="Enter code" autofocus />
            <label for="fr-password">Enter code</label>
            <button class="toggle-password" type="button" aria-label="Display code in plain text."></button>
        </div>
      </div>
    </section>
    <button type="button" class="btn btn-primary">Next</button>
  </section>
  <div class="fr-error fr-retry">
    <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
  </div>
  <footer class="fr-footer">
    <nav>
      <ul>
        <li><a href="#">More ways to sign in</a></li>
      </ul>
    </nav>
  </footer>
</main>
