<main class="fr-user">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Create an Account</h1>
    </header>
    <form class="fr-form">
      <div class="form-group">
        <div class="form-label-group mb-0">
          <input required class="form-control" id="fr-username" type="text" name="username" placeholder="Username"
            autofocus />
          <label for="fr-username">Username</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group form-label-group-password">
          <div class="form-label-group-input">
            <input type="password" id="fr-password" class="form-control" placeholder="Password" />
            <label for="fr-password">Password</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i
                class="material-icons material-icons-outlined">visibility_off</i></button>
          </div>
        </div>
      </div>
      <div id="fr-attributes"></div>
    </form>
    <button type="button" class="btn btn-primary">Register</button>
    <div class="fr-error fr-retry">
      <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
    </div>
  </section>
</main>