<main class="fr-user">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Create an Account</h1>
    </header>
    <form class="fr-form">
      <div class="form-group mb-3">
        <div class="form-label-group form-floating">
          <input required class="form-control" id="fr-username" type="text" name="username" placeholder="Username"
            autofocus />
          <label for="fr-username">Username</label>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="form-label-group form-floating input-group form-label-group-password">
            <input type="password" id="fr-password" class="form-control rounded-end input-password" placeholder="Enter password" autofocus />
            <label for="fr-password">Password</label>
            <button class="toggle-password" type="button" aria-label="Display password in plain text."></button>
        </div>
      </div>
      </div>
      <div id="fr-attributes"></div>
    </form>
    <button type="button" class="btn btn-primary">Register</button>
    <div class="fr-error fr-retry">
      <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
    </div>
  </section>
</main>
