<main class="fr-step fr-username-password">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Sign in</h1>
    </header>
    <section class="fr-form">
      <div class="form-group">
        <div class="form-label-group form-label-group-password">
          <div class="form-label-group-input">
            <input type="password" id="fr-password" class="form-control" placeholder="Password" autofocus />
            <label for="fr-password">Password</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i
                class="material-icons material-icons-outlined">visibility_off</i></button>
          </div>
        </div>
      </div>
    </section>
    <button type="button" class="btn btn-primary">Next</button>
    <div class="fr-error fr-retry">
      <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
    </div>
  </section>
</main>