<main class="fr-step fr-username-password">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Sign in</h1>
    </header>
    <section class="fr-form">
      <div class="form-group mb-3">
        <div class="form-label-group form-floating input-group form-label-group-password">
            <input type="password" id="fr-password" class="form-control rounded-end input-password" placeholder="Enter password" autofocus />
            <label for="fr-password">Password</label>
            <button class="toggle-password" type="button" aria-label="Display password in plain text."></button>
        </div>
      </div>
    </section>
    <button type="button" class="btn btn-primary">Next</button>
    <div class="fr-error fr-retry">
      <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
    </div>
  </section>
</main>
