<main class="fr-step fr-username">
  <section class="fr-main">
    <header class="fr-header">
      <h1>Sign in</h1>
    </header>
    <section class="fr-form">
      <div class="form-group">
        <div class="form-label-group mb-0">
          <input required class="form-control" id="fr-username" type="text" name="username" placeholder="Username"
            autofocus />
          <label for="fr-username">Username</label>
        </div>
      </div>
    </section>
    <button type="button" class="btn btn-primary">Next</button>
    <div class="fr-error fr-retry">
      <div class="fr-alert">Sorry that isn‘t right. Try again.</div>
    </div>
  </section>
</main>