.fr-alert {
  background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.81476 2.71191C4.12726 1.39941 5.70018 0.743164 7.53351 0.743164C9.38768 0.743164 10.9606 1.39941 12.2523 2.71191C13.5648 4.00358 14.221 5.56608 14.221 7.39941C14.221 9.23275 13.5648 10.8057 12.2523 12.1182C10.9606 13.4098 9.38768 14.0557 7.53351 14.0557C5.70018 14.0557 4.12726 13.4098 2.81476 12.1182C1.5231 10.8057 0.877264 9.23275 0.877264 7.39941C0.877264 5.56608 1.5231 4.00358 2.81476 2.71191ZM8.22101 10.7432V9.39941H6.87726V10.7432H8.22101ZM8.22101 8.05566V4.05566H6.87726V8.05566H8.22101Z' fill='%23EB5757'/%3E%3C/svg%3E%0A")
    left center no-repeat;
  color: #eb5757;
  display: inline;
  padding-left: 1.563em;
}
